[submodule ".config/.bash-git-prompt"]
	path = .config/.bash-git-prompt
	url = https://github.com/sam3ay/.bash-git-prompt.git
[submodule "/home/sam3ay/dotfiles/.config/zsh/.oh-my-zsh/custom/themes/powerlevel10k"]
	path = /home/sam3ay/dotfiles/.config/zsh/.oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "/home/sam3ay/dotfiles/.config/zsh/.oh-my-zsh/custom/plugins/fzf-tab"]
	path = /home/sam3ay/dotfiles/.config/zsh/.oh-my-zsh/custom/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "/home/sam3ay/dotfiles/.config/zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = /home/sam3ay/dotfiles/.config/zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "/home/sam3ay/dotfiles/.config/zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = /home/sam3ay/dotfiles/.config/zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
