# Everything #
##############
*

# Excluded directories #
########################
!*/.config/git
!*/.config/nvim
!*/.vscode

# Excluded files #
########################
!.gitignore*
!*/.custom_bashrc
