# Everything #
##############
*

# Excluded directories #
########################
!*/.config/git
!*/.config/nvim
!*/.config/vscode
!*/.config/Code/User/win_settings.json

# Excluded files #
########################
!.gitignore*
!*/.custom_bashrc